In [113]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [121]:
## load the train ANN model,Scalar pkl file,onehot encoding

model=load_model('model.h5')

## load the encoder and scalar
with open('label_encoder_gender.pkl','rb')as file:
    label_encoder_gender=pickle.load(file)

with open('one_hot_encode.pkl','rb')as file:
    one_hot_encode=pickle.load(file)

with open('Scalar.pkl','rb')as file:
    scalar=pickle.load(file)

In [122]:
#Explain Input Data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000

}

In [123]:
#one_hot_encoding'Geography' 
geo_encoded=one_hot_encode.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encode.get_feature_names_out(['Geography']))
geo_encoded_df

f:\study material\NLP_Rag _Projects\ANN_Implimentation\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [124]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [ ]:
#combine one-hot encoding columns with input data
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumberOfProducts,HashCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [125]:
#Encode catagorical Variable
# data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [126]:
## concatination one hot data
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1) 
input_df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [127]:
input_saclar=scalar.transform(input_df)
input_saclar

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [129]:
##predict the person has exit or not

prediction=model.predict(input_saclar)
prediction

1/1 [==============================] - 0s 48ms/step

array([[0.01884046]], dtype=float32)

In [130]:
prediction_proba=prediction[0][0]
prediction_proba

0.018840456

In [131]:
if prediction_proba>0.5:
    print("customer is likely to churn")
else:
    print("customer is not likely to churn")

customer is not likely to churn